$bg: #23272a;
$suppbg: #2c2f33;
$supp: #f7bc34;
$sup: #ffdd8c;
$w: white;
$b: 2px solid $supp;
$br: 25px;

.seperate{
    margin: 0;
    display: flex;
    position: relative;
    width: 100%;
    flex-wrap: wrap;
}

.bar{
    margin: 15px;
    display: flex;
    width: 350px;
}

.title{
    padding: 0;
    font-size: 30px;
    width: 25%;
    position: fixed;
    text-align: center;
    text-decoration: line-through $sup;
    font-family: 'Quicksand', sans-serif;
}

.yellow{
    color: $supp;
}

.gray{
    text-shadow: -2.5px 0 rgb(146, 146, 146);
}

.grey{
    text-shadow: 2.5px 0 rgb(146, 146, 146);
}

.fix{
    font-size: 25px;
    position: fixed;
    padding: 25px;
    height: 100%;
}

ul{
    height: 100%;
}

li{
    list-style-type: none;
    padding-top: 10px;
}

ul:last-child{
    align-items: flex-end;
}

.new{
    margin:10px;
    padding: 10px;
    display: flex;
    flex: 2;
    flex-direction: column;
    row-gap: 20px;
}

#posting{
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
    padding: 15px;
    background-color: $suppbg;
}

#hatdog{
    border-radius: 50px;
}

.details{
    display: flex;
    justify-content: space-between;
}

.beeg{
    font-size: 40px;
    display: flex;
    align-items: center;
}

.gap{
    width: 25%;
}

.pag{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

form{
    display: flex;
    flex-direction: column;
    margin: 0;
}

input[type = "text"]{
    margin: 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.boxx input[type = "text"], .boxx input[type = "password"]{
    border: 0;
    background: none;
    font-size: 21px;
    text-align: center;
    border: $b;
    border-radius: $br;
    padding: 14px 10px 10px 10px;
    margin-bottom: 10px;
    color: $w;
    transition: 0.5s;
}

.boxx input[type = "text"]:focus, .boxx input[type = "password"]:focus{
    background-color: $w;
    color: $bg;
    transition: 0.5s;
}

input[type = "submit"]{
    padding: 5px 15px 5px 15px; 
    border: 0;
    border-radius: $br;
    background: $supp;
}

.divider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.warning{
    padding-top: 15px;
    font-size: 10px;
}

select{
    text-align: center;
    border-radius: 20px;
}

.rev{
    row-gap: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.column{
    display: flex;
}

.prof{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    align-self: stretch;
    flex-direction: row;
    margin-bottom: 10px;
}

.actual{
    display: flex;
    flex: 1;
    align-content: stretch;
    flex-direction: column;
}

.ups{
    padding-right: 15px
}

.onetwothree{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

button{
    font-size: 20px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.what{
    padding-top: 5px;
    border-bottom: 1px solid $w;
}

.commit{
    margin: 0;
    padding: 10px 0px 10px 0px;
}

.commend{
    display: flex;
    align-content: stretch;
    flex-direction: column;
    border-left: 1px solid grey;
}

#below:not(:nth-last-of-type(1)){
    border-bottom: 1px dashed grey;
}

.pads{
    padding: 10px;
}

.commendable{
    align-content: stretch;
    flex-direction: row;
}

.CUser{
    padding: 10px;
}

.commentt{
    margin: 0;
    padding-top: 10px;
    border-left: 1px solid grey;
}

.error{
    padding: 10px;
    background-color: rgb(255, 55, 55);
    border: 2px solid rgb(255, 91, 91);
    border-radius: 5px;
}

.aimg{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.pimg{
    background-color: $bg;
}

.side{
    top: 0;
    padding-top: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: stretch;
    row-gap: 10px;
}

.align{
    padding-bottom: 5px;
    border-bottom: 2px solid $supp;
    text-align: center;
}

#under{
    padding-top: 10px;
}

textarea{
    color: $w;
    background: none;
    margin-bottom: 10px;
}

.smol{
    color: gray;
    font-size: 12px;
}