.pagination{
    flex-grow: 1;
}

.pagination a {
    font-size: 13px;
    margin-left:10px;
    color: white;
    float: left;
    padding: 7px 15px;
    text-decoration: none;
    transition: .3s; 
    border: 1px solid  rgba(255, 255, 255, 0.514);
    border-radius:20px;
}

.pagination a:hover {
    /* border: 1px solid #8cd6ab8e; */ 
    /* wait then i get code hehe okay  */
}

.pagination a.active {
    background-color: #a5a4ff85;
    border-radius: 25px;
    color: black;
}

.daborder{
 margin: 0;
 margin: 15px;
 margin-left: 50px;
 margin-right: 50px;
 padding: 25px;
 /*border: 2px solid rgb(0, 0, 0);*/
}

.headering {
  border-color: solid black 1px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  text-align: left;
  padding-left: 15px;
  padding-right: 50px;
  margin-top:20px;
  justify-content: space-between;
  align-items: center;
}

.featureHeader{
  margin-left:5px;
  /* margin-top:5px; */
  margin-bottom: 5px;
  align-self: center; 
}

.card-container {    
  display: flex;
  grid-auto-flow: column;
  /* width: 100%; */
  grid-gap: 15px;
  flex-wrap: wrap;
  /* margin-left: 15px;
  margin-bottom: 50px; */
}

.card a{
  text-decoration: none;
}

.card { 
  width: 20vw;
  height: 400px;
  display: grid;
  grid-template-rows: 180px 1fr;
  border: 2px solid black;
  border-radius: 15px;
  overflow: hidden;
}

.card * {
  margin: 0;
  padding: 0;
}

.card .card-cover {
  width: 100%;
  height: 180px;
}

.card .card-cover img {
  width: 100%;
  height: 100%;
}

.card .card-content {
  margin: 17px 17px 0;
  display: grid;
}

.card .card-content .card-seller {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-gap: 15px;
}

.card .card-content .card-seller img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.card .card-content .card-seller h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.card .card-content .card-seller .level {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.card .card-content .card-desc {
  font-size: 16px;
  color:black;
}

.card .card-content .card-rating {
  display: grid;
  grid-template-columns: 116px 1fr;
  grid-gap: 6px;
  color:black;
}

.card .card-content .card-rating img {
  width: 116px;
  height: 20px;
  color:black;
}

.card .card-content .card-price {
  font-size: 25px;
  font-weight: bolder;
  color:black;
}