.pagination{
    flex-grow: 1;
}

.pagination a {
    font-size: 13px;
    margin-left:10px;
    color: white;
    float: left;
    padding: 7px 15px;
    text-decoration: none;
    transition: .3s; 
    border: 1px solid  rgba(255, 255, 255, 0.514);
    border-radius:20px;
}

.pagination a.active {
    background-color: #a5a4ff85;
    border-radius: 25px;
    color: black;
}

.daborder{
 margin: 0;
 margin: 15px;
 padding: 25px;
}

.featureHeader{
    margin-left:5px;
    /* margin-top:5px; */
    margin-bottom: 5px;
    align-self: center; 
}

.container-fluid{
 display: flex; 
 margin-bottom: 0;
} 

.row{
    width: 100%;
    margin: 0;
    margin-top: 15px;
    justify-content: stretch;
    height: auto;
}

.gap{
    row-gap: 15px;
    column-gap: 15px;
}

figure{
    padding-bottom: 0!important;
    min-width: 0!important;
    margin: 0 0 0;
}
  
.first{
    /* height: 35vh; */
    padding: 0;
    flex-grow: 2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid  rgba(0, 0, 0, 0.514);
    z-index: 0;
    overflow: hidden;
    height: 250px;
    /* width: calc(900 / 1600 * 100%); */
}

.inner{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    border: 0;
    display: table;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

.outer{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    padding: 0 4px 4px 0;
    border-collapse: collapse;
}

.coll{
    position: relative;
      display: flex;
      -webkit-box-align: center;
      /* align-items: center; */
      -webkit-box-pack: center;
      /* justify-content: center; */
      width: 100%;
  }
  
  .jezuki{
      object-fit: cover;
  }
.cover{
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.cover:hover{
    width:100%;
    height:100%;
    z-index: 1;
    overflow: hidden;
    background: #f8f0e3;
    opacity: 50%;
    transition: 0.2s;
    cursor: pointer;
    border-radius:10px;
}

.page{
    margin-top: 10px;
    justify-content: center;
}