.pagination{
    flex-grow: 1;
}

.pagination a {
    font-size: 13px;
    margin-left:10px;
    color: black;
    float: left;
    padding: 7px 15px;
    text-decoration: none;
    transition: .3s; 
    border: 1px solid  rgba(0, 0, 0, 0.514);
    border-radius:20px;
}

.pagination a:hover {
    /* border: 1px solid #8cd6ab8e; */ 
    /* wait then i get code hehe okay  */
}

.pagination a.active {
    background-color: #a5a4ff85;
    border-radius: 25px;
    color: black;
}

.border{
 margin: 0;
 margin: 15px;
 padding: 25px;
 /*border: 2px solid rgb(0, 0, 0);*/
}/*u add design?*/

.featureHeader{
    margin-left:5px;
    /* margin-top:5px; */
    margin-bottom: 5px;
    align-self: center; 
}
/* it contains the browse becase there is still filter */
.container-fluid{
 height: 100vh;
 display: flex; 
 margin-bottom: 0;
} 
/* wait why is there featured if its gallery lmaoooooooooo we only filter maybe idk wait wait */
.row{
    width: 100%;
    margin: 0;
    margin-top: 15px;
    justify-content: stretch;
    height: auto;
}

.gap{
    row-gap: 7px;
    column-gap: 7px;
}
/* so its image is contained but the height depends on who is taller then width adjusts how wat yes */
.first{
    /* height: 35vh; */
    padding: 0;
    flex-grow: 2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid  rgba(0, 0, 0, 0.514);
    border-radius:10px;
}

.second{
    padding: 0;
    flex-grow: 1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid  rgba(0, 0, 0, 0.514);
    border-radius:10px;
}
/* who the fuck is dale wat*/
.cover{
    width: 100%;
    height: 100%;
    transition: 0.2s;
    /* background-color: rgba(255, 255, 255, 0); */
    /*what da nas doin*/
}

.cover:hover{
    width:100%;
    height:100%;
    z-index: 1;
    overflow: hidden;
    background: #f8f0e3;
    /* background: -moz-linear-gradient(top, #FFFFFF 0%, #000000 50%);
    background: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 50%);
    background: linear-gradient(to bottom, #FFFFFF 0%, #000000 50%); */
    /* background-color: rgba(19, 19, 19, 0.534); do we make responsive? no okay*/  
    /* background-color: linear-gradient(to bottom, rgb(19, 19, 19), rgb(104, 104, 104)); */
    opacity: 50%;
    transition: 0.2s;
    cursor: pointer;
    border-radius:10px;
    /* wat i do? i frogr ah the gradient mea dk what u do i make rice HAHAHAHA */
}

.page{
    margin-top: 10px;
    justify-content: center;
}