.pagination{
    flex-grow: 1;
}

.pagination a {
    font-size: 13px;
    margin-left:10px;
    color: white;
    float: left;
    padding: 7px 15px;
    text-decoration: none;
    transition: .3s; 
    border: 1px solid  rgba(255, 255, 255, 0.514);
    border-radius:20px;
}

.pagination a.active {
    background-color: #a5a4ff85;
    border-radius: 25px;
    color: black;
}

.daborder{
 display: flex;
 flex-direction: column;
 margin: 0;
 margin: 15px;
 margin-left: 50px;
 margin-right: 50px;
 padding: 25px;
}

.featureHeader{
    margin-left: 5px;
    margin-bottom: 15px;
}

.container-fluid{
 display: flex; 
 margin: 15px 0;
 margin-bottom: 0;
 
} 

.row{
    display: inline-table;
    width: 100%;
    margin: 0;
    margin-top: 15px;
    --bs-gutter-x: 0;
    justify-content: stretch;
    height: auto;
    
    /* display: flex; no below
    flex-wrap: wrap;
    flex: 1 1 0;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x)); */
}

li{
    list-style-type: none;
}


.row ul {
    display: inline-block;
    /* // text-align: center;
    // flex-wrap: wrap; */
}

.row ul li {
    flex-grow: 1;
    display: inline-block;
}

/* .gap{
} */

.flexing{
    display: flex;
    flex-wrap: wrap;

}

figure{
    display: inline-block;
    position: relative;
    padding-bottom: 0!important;
    min-width: 0!important;
    margin: 0 15px 15px 0 ;
}
  
.first{
    padding: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.514);
    overflow: hidden;
    width: fit-content;
    vertical-align: top;
    height: auto;
}

.inner{
    display: table;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    float: left;
}

.outer{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    object-fit: contain;
    padding: 0;
    width: 100%;
    /* height: calc(100vh / 3); no
    height: 250px; no */
}

.coll{
    position: relative;
      display: flex;
      /* -webkit-box-align: center; no */
      align-items: center;
      -webkit-box-pack: center;
      /* justify-content: center; no */
      width: 100%;
  }
  
  .jezuki{
      object-fit: cover;
      height: 100%;
      width: auto;
  }

.cover{
    width: 100%;
    height: 100%;
    transition: 0.2s;
}

.cover:hover{
    width:100%;
    height:100%;
    z-index: 1;
    overflow: hidden;
    background: #f8f0e3;
    opacity: 50%;
    transition: 0.2s;
    cursor: pointer;
    border-radius:10px;
}

.page{
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: center;
}