*{
  box-sizing: border-box;
}

body{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: #292929;
    color:white;
  
  }

/* Header */

#head-nav{
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #FCB293;
    
  }
  
  header {
      width: 100%;
      /*background: linear-gradient(90deg, rgb(255, 185, 87) 0%, rgb(255, 198, 26) 100%);*/
      background-color: #F4E4C0;
      display: block;
      position: sticky;
      top: 0;
      z-index: 10;
      /*border-radius: 0 0 10px 10px;*/
      
    }
  
  nav {
    margin: 0;
    margin-right: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
   
  }
  
  nav ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 0;
    justify-content: stretch;
    display: flex;
    -ms-grid-rows: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  
  nav ul li {
    list-style: none;
  }
  
   nav ul{
    display: flex;
    float: left;
    grid-template-columns: auto auto auto;
  }  
  
  nav ul li a {
    color: #272727;
      font-size: 15px;
      position: relative;
      padding: 15px 12px;
      text-align: center;
      font-weight: 600;
      display: block;
      text-decoration: none;
      z-index: 2;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
              
  }
  
  nav ul li #siteName{
    color: #272727;
    font-size: 24px;
    padding: 7px 1px 1px 0;
    width: 100px;
    text-align: center;
    font-weight: 600;
    display: block;
    text-decoration: none;
    z-index: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  nav ul li a.sub:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #FCB293;
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
    opacity: 0;
    -webkit-transition: .15s;
    transition: .15s;
  }
  
  nav ul li a.off:hover{
    color: rgb(255, 121, 121);
  }
  
  nav ul li a.extra{
    width:50px;
  }
  
  nav ul li a.sep{
    margin-left: 10px;
    border-left: 1px solid #272727;
  }

nav ul li a.com{
  margin-right: 10px;
}

  nav ul li a.com:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #A4C9D7;
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
    opacity: 0;
    -webkit-transition: .15s;
    transition: .15s;
  }
  
  nav ul li a.item :before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    border-bottom: 2px solid #272727;
    -webkit-transform: scaleY(2);
            transform: scaleY(2);
    opacity: 0;
    -webkit-transition: .15s;
    transition: .15s;
  }
  
  nav ul li a.item:after {
    content: '';
    position: absolute;
    top: 2px;
    /* width: 100%; */
    left: 0;
    height: 100%;
    background-color: rgba(224, 112, 112, 0);
    color: #ffffff;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    -webkit-transition: .15s;
    transition: .15s;
  }
  
  nav ul li a:hover {
    color: white;
    /* -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px; */
    text-shadow: -1px -1px black, 1px 1px black, -1px 1px black, 1px -1px black;
  }
  
  nav ul li a.sub:hover {
    color: white;
    /* -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px; */
    text-shadow: -1px -1px #FCB293, 1px 1px #FCB293, -1px 1px #FCB293, 1px -1px #FCB293;
  }
  
  nav ul li a.com:hover {
    color: white;
    /* -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.2px; */
    text-shadow: -1px -1px #A4C9D7, 1px 1px #A4C9D7, -1px 1px #A4C9D7, 1px -1px #A4C9D7;
  }
  
  nav ul li a:hover:before {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }
  
  nav ul li a:hover:after {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
  }

  
  .link-col{
    color:#C1DFC5;
  }
   .link-col:hover{
     color:#c1dfc557;
   }

  /* Ads */

#advert > img{
  position: absolute;
}

  .ad-normal{
    /* position: ; */
    background-color: #A5A4FF;
    border: solid black 1px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 0;
  }
  .ad-banner{
    /* position: ; */
    background-color: #A5A4FF;
    border: solid black 1px;
    overflow: hidden;
    width: 200px;
    height: 100px;
    margin: 0;
  }
  .ad-long{
    background-color: #A5A4FF;
    border: solid black 1px;
    overflow: hidden;
    width: 160px;
    height: 325px;
    margin: 0;
  }

  [data-component="slideshow"] .slide {
    display: none;
    text-align: center;
  }
  
  [data-component="slideshow"] .slide.active {
    display: block;
  }

  .flex-box{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: 50px 150px 30px 150px;
  }
/* Footer */

.footer-distributed {
    background-color: #F4E4C0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding:20px 35px;
    /* border-radius:10px 0 0 10px;  HAHAHHAHAHffsA*/
    /* margin-top:50px; waow*/
  }
  
  .footer-distributed .footer-left p {
    color: black;
    font-size: 14px;
    margin: 0;
  }
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin: 0 0 5px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: black;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float:right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #3A2921;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }

  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }
  