 /* wait why is there featured if its gallery lmaoooooooooo we only filter maybe idk wait wait */

 /* Carousel */

 .carousel-inner{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner .banner{
  background-color:blue;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  background-color:black; 
  background-size: cover;
}

.carousel-fluid{
  display: flex; 
  justify-content: center;
 } 

 .tag-fluid{
  display: flex; 
  justify-content: center;
 }

.header-fluid{
  display: flex; 
  
 } 
.discover{
  margin: 25px;
}
.container-fluid{
  height: 100vh;
  display: flex; 
  margin-bottom:100px;
 } 

 .headering {
  border-color: solid black 1px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 0px 150px;
  margin-top:20px;
  justify-content: space-between;
  align-items: center;
}
 .disc-right{
   text-decoration: none;

 }
 
/* Discover */

 .row{
     width: 100%;
     margin: 0;
     margin-top: 15px;
     justify-content: stretch;
     height: auto;
 }
 
 .gap{
     row-gap: 7px;
     column-gap: 7px;
 }
 /* so its image is contained but the height depends on who is taller then width adjusts how wat yes */
 .first{
     /* height: 35vh; */
     padding: 0;
     flex-grow: 2;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: contain;
     border: 1px solid  rgba(0, 0, 0, 0.514);
     border-radius:10px;
 }
 
 .second{
     padding: 0;
     flex-grow: 1;
     background-position: 50% 50%;
     background-repeat: no-repeat;
     background-size: contain;
     border: 1px solid  rgba(0, 0, 0, 0.514);
     border-radius:10px;
 }
 /* who the duck is dale wat*/
 .cover{
     width: 100%;
     height: 100%;
     transition: 0.2s;
     /* background-color: rgba(255, 255, 255, 0); */
     /*what da nas doin*/
 }
 
 .cover:hover{
     width:100%;
     height:100%;
     z-index: 1;
     overflow: hidden;
     background: #a7a198;
     /* background: -moz-linear-gradient(top, #FFFFFF 0%, #000000 50%);
     background: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 50%);
     background: linear-gradient(to bottom, #FFFFFF 0%, #000000 50%); */
     /* background-color: rgba(19, 19, 19, 0.534); do we make responsive? no okay*/  
     /* background-color: linear-gradient(to bottom, rgb(19, 19, 19), rgb(104, 104, 104)); */
     opacity: 50%;
     transition: 0.2s;
     cursor: pointer;
     border-radius:10px;
     /* wat i do? i frogr ah the gradient mea dk what u do i make rice HAHAHAHA */
 }

 .row{
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  justify-content: stretch;
  height: auto;
}

 .first{
  padding: 0;
  flex-grow: 2;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid  rgba(0, 0, 0, 0.514);
  border-radius:10px;
}

.second{
  padding: 0;
  flex-grow: 1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid  rgba(0, 0, 0, 0.514);
  border-radius:10px;
}

 .cover{
  width: 100%;
  height: 100%;
  transition: 0.2s;
  /* background-color: rgba(255, 255, 255, 0); */
  /*what da nas doin*/
}

.cover:hover{
  width:100%;
  height:100%;
  z-index: 1;
  overflow: hidden;
  background: #f8f0e3;
  /* background: -moz-linear-gradient(top, #FFFFFF 0%, #000000 50%);
  background: -webkit-linear-gradient(top, #FFFFFF 0%, #000000 50%);
  background: linear-gradient(to bottom, #FFFFFF 0%, #000000 50%); */
  /* background-color: rgba(19, 19, 19, 0.534); do we make responsive? no okay*/  
  /* background-color: linear-gradient(to bottom, rgb(19, 19, 19), rgb(104, 104, 104)); */
  opacity: 50%;
  transition: 0.2s;
  cursor: pointer;
  border-radius:10px;
  /* wat i do? i frogr ah the gradient mea dk what u do i make rice HAHAHAHA */
}

/* Tags*/

#Tag{
  margin: 25px;
}

.tag-fluid{
  column-gap: 10px;
  flex-direction: row;
}

.tag-fluidity{
  margin-top: 15px;
  height: 100px;
  display: flex; 
  margin-bottom:100px;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
 } 

.tag-fluid .tag-img {
  width: 100%;
  height: auto;
  background-size: cover;
  transition: 0.25s;
  filter: blur(0);
  -webkit-filter: blur(0);
}

.tag-fluid .btn {
  position: relative;
  overflow: hidden;
  padding: 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  /*border-radius: 5px;*/
  text-align: center;
  z-index: 1;
}
/* Why like this on side i guess it can be used then put mmargaret*/
.tag-fluid .hoverTagline{
  background-color: #CAFFBF; 
  border-radius:0px 5px 5px 0px;/* yon un eh blureed */
  margin-top: 37px;
  width:auto;
  padding-left:15px;
  padding-right:15px;
  top: 0;
  color: black; /**/
  position: absolute;
  text-align: center;
  font-size: 23px;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s;
  -webkit-transform: scaleY(0.85);
          transform: scaleY(0.85); 
}
/* maybe nested???  nest wat okay so no good */

.tag-fluid .imag:hover .hoverTagline{
  opacity: 1;
  transition: 0.25s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1); 
}
/* me do sampay */
.imag:hover .tag-img{
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
  transition: 0.25s;
  -webkit-transform: scale(120%);
          transform: scale(120%);
}
/*

CSS Testing Below

*/
/* 
footer{
  width: 100%;
  display: block;
  position: sticky;
} */

.flex-box{

  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
  align-content: center;
  margin: 30px;
}

.flex-box-ad-1{
  width:300px;
  border: 1px solid black;
  background-color: black;
  margin: 10px;
  min-height: 300px;

}

.flex-box-ad-2{
  width:300px; 
  border: 1px solid black;
  background-color: black;
  margin: 10px;
  min-height: 300px;
}

.flex-box-ad-3{
  width:300px;
  border: 1px solid black;
  background-color: black;
  margin: 10px;
  min-height: 300px;
}

.flex-box-ad-4{
  width:300px;
  border: 1px solid black;
  background-color: black;
  margin: 10px;
  min-height: 300px;
}

