/* Divide */

.dividerTop{
  display: flex;
  justify-content: space-around;
  margin: 30px 30px 0 30px;
}

.epal{
  display: flex;
  align-items: center;
}

.wala{
  visibility: hidden;
}

 /* Carousel */

 .carousel-inner{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.carousel-inner .banner{
  background-color:blue;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
  background-color:black; 
  background-size: cover;
}

.carousel-fluid{
  display: flex; 
  justify-content: center;
 } 

 .tag-fluid{
  display: flex; 
  justify-content: center;
 }

.header-fluid{
  display: flex; 
  
 }
.container-fluid{
  display: flex; 
  flex-direction: column;
  margin-bottom: 25px;
 } 

 .headering {
  border-color: solid black 1px;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.192);
}
 .disc-right{
   text-decoration: none;

 }

 .featureHeader{
   margin-bottom: 15px;
 }
 
/* Discover */

.discover{
  margin: 25px;
  display: contents;
}

.chingtag{
  margin: 75px 90px 0 90px;
  padding: 50px;
  position: relative;
}

.ching{
  margin: 75px 90px 0 90px;
  padding: 50px;
  position: relative;
}
.ching:before, .ching:after {
  position:absolute;
  width:120px; height: 120px;
  border-color:rgba(255, 255, 255, 0.705); /* or whatever colour */
  border-style:solid; /* or whatever style */
  content: ' ';
}
.ching:before {top:0;left:0;border-width: 2px 0 0 2px}
.ching:after {bottom:0;right:0;border-width: 2px 2px 0 0; transform: rotate(90deg);}
.ching>:first-child:before {bottom:0;right:0;border-width: 0 2px 2px 0}
.ching>:first-child:after {bottom:0;left:0;border-width: 0 0 2px 2px}

 .row{
  --bs-gutter-x: 0;
     width: 100%;
     margin: 0;
     margin-top: 15px;
     justify-content: stretch;
     height: auto;
 }
 
 .gap{
     row-gap: 15px;
     column-gap: 15px;
 }

 .first{
  z-index: 0;
  overflow: hidden;
  flex-grow: 2;
  height: 250px;
  width: 250px;
 }

.coll{
  position: relative;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    width: 100%;
    height: 100%;
}

.jezuki{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

.cover{
    width: 100%;
    height: 100%;
    transition: 0.2s;
}
 
 .cover:hover{
     width:100%;
     height:100%;
     z-index: 1;
     overflow: hidden;
     background: #74747469;
     opacity: 50%;
     transition: 0.2s;
     cursor: pointer;
     border-radius:10px;
  }

/* Tags*/

#Tag{    
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: #454545;
}

.tag-fluid{
  column-gap: 10px;
  flex-direction: row;
}

.tag-fluidity{
  margin-top: 15px;
  height: 100px;
  display: flex; 
  margin-bottom:100px;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
 } 

.tag-fluid .tag-img {
  width: 100%;
  height: auto;
  background-size: cover;
  transition: 0.25s;
  filter: blur(0);
  -webkit-filter: blur(0);
}

.tag-fluid .btn {
  position: relative;
  overflow: hidden;
  padding: 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-align: center;
  z-index: 1;
}

.tag-fluid .hoverTagline{
  background-color: #CAFFBF; 
  border-radius:0px 5px 5px 0px;
  margin-top: 37px;
  width:auto;
  padding-left:15px;
  padding-right:15px;
  top: 0;
  color: black;
  position: absolute;
  text-align: center;
  font-size: 23px;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s;
  -webkit-transform: scaleY(0.85);
          transform: scaleY(0.85); 
}

.tag-fluid .imag:hover .hoverTagline{
  opacity: 1;
  transition: 0.25s;
  -webkit-transform: scaleY(1);
          transform: scaleY(1); 
}

.imag:hover .tag-img{
  filter: blur(2.5px);
  -webkit-filter: blur(2.5px);
  transition: 0.25s;
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.flex-box-ad-1{
  width:300px;
  border: 1px solid black;
  background-color: black;
  margin: 10px;
  min-height: 300px;
  border-radius: 5px;

}

.flex-box-ad-2{
  width:300px; 
  border: 1px solid black;
  background-color: black;
  margin: 10px;
  min-height: 300px;
  border-radius: 5px;
}

.flex-box-ad-3{
  width:300px;
  border: 1px solid black;
  background-color: black;
  margin: 10px;
  min-height: 300px;
  border-radius: 5px;
}

.flex-box-ad-4{
  width:300px;
  border: 1px solid black;
  background-color: black;
  margin: 10px;
  min-height: 300px;
  border-radius: 5px;
}

